body {
  font-family: 'Gotham', sans-serif;
  max-width: 80%;
  margin: auto;
}

img {
  margin: 100px 30px;
  max-width: 500px;
  width: 100%;
  height: auto;
}

.logo {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.info {
  color: #1a6db5;
  /* font-family: monospace;; */
  font-size: 1.4rem;
  margin: auto;
  overflow: hidden;
  text-align: left;
  width: 80%;
}

.info a {
  /* color: #088898; */
  color: #1a6db5;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

.address,
.phone,
.email,
.facebook,
.instagram,
.gplus,
.twitter,
.whatsapp {
  padding: 5px 20px 5px 0;
}

.whatsapp {
  color: #088898;
  text-decoration: none;
}

.timetable table {
  color: #666;
  font-size: inherit;
  margin: 20px 0 0 -2px;
}

.timetable td, .timetable th {
  vertical-align: top;
}

.timetable .days {
  font-weight: 600;
  padding-right: 40px;
}

.info .col {
  float: left;
  width: 50%;
}

.fa {
  /* color: #088898; */
  color: #7da7b0;
}

footer {
  /* border-top: 2px solid #088898; */
  border-top: 2px solid #e76c1d;
  clear: both;
  color: #666;
  /* font-family: monospace;; */
  font-size: 1.1rem;
  margin: 80px auto 0;
  overflow: hidden;
  text-align: left;
  width: 80%;
}

footer strong {
  font-size: 1.2rem;
}

footer .col {
  float: left;
}

footer .col:first-child {
  width: 80%;
}

footer .col:last-child {
  width: 20%;
}

footer img {
  float: right;
  margin: 0.75rem 0 0;
  padding: 0;
  width: 12rem;
}

@media (max-width: 960px) {
  body {
    max-width: 100%;
  }

  .logo img {
    margin: -20px 15px 40px 0px;
  }

  .info {
    font-size: 1.2rem;
  }

  .info .col {
    float: none;
    margin-bottom: 60px;
    width: 100%;
  }

  footer {
    margin: 10px auto 0;
  }

  footer .col {
    float: none;
    width: 100% !important;
  }

  footer img {
    width: 50%;
    float: none;
    margin-left: -6px;
  }
}

@font-face {
  font-family: 'Gotham';
  src: url('./font/Gotham Fonts Family/Gotham-Regular.woff2') format('woff2'),
       url('./font/Gotham Fonts Family/Gotham-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./font/Gotham Fonts Family/Gotham-Bold.woff2') format('woff2'),
       url('./font/Gotham Fonts Family/Gotham-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./font/Gotham Fonts Family/Gotham-Italic.woff2') format('woff2'),
       url('./font/Gotham Fonts Family/Gotham-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

